#options{
    place-content: center;
    margin: auto;
    display: flex;
}
h2, h3, h4{
    text-align: center;
}
.locale{
    align-content: center;
    display: grid;
    vertical-align: bottom;
}
#farm, #cave, #house, #casino{
    display: inline-block;
    border: 1px solid black;
    width: 175px;
    height: 150px;
    margin: 0px 10px 0px 10px;
}
#bottom{
    place-content: center;
    margin: auto;
    display: flex;
    margin-top: 10px;
}
#actives{
    display: inline-block;
    border: 1px solid blue;
    width: 525px auto;
}
#activities_box{
    width: 500px;
}
.green{
    color: green;
}
.red{
    color: red;
}
#resetting{
    display: inline-block;
    border-radius: 1px;
    vertical-align: top;
}
